<%= render 'layouts/header' %>
    <div class="col-xs-offset-1 col-xs-10">
        <h1><%= @company.company_name %></h1>
            <div>
                <span id="favorites_buttons_<%= @company.id %>">
                    <%= render partial: 'favorites/favorite', locals: { company: @company} %>
                </span>
                <%= @company.company_comments.count %>件コメント
                    <% if @company.user == current_user %>
                        <%= link_to "", company_path(@company), method: :delete %>
                        <%= link_to "Edit",edit_company_path(@company), class: "btn btn-primary btn-sm edit_company_#{@company.id}" %>
                        <%= link_to 'Destroy', @company, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-sm destroy_book_#{@company.id}"%>
                    <% end %>
            </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active">業種</th>
                    <th class="active">売上高</th>
                    <th class="active">営業利益</th>
                    <th class="active">売却希望価格</th>
                    <th class="active">所在地</th>
                </tr>
            </thead>
            <tbody>
                    <td><%= @company.industry %></td>
                    <td><%= @company.sale %>百万円</td>
                    <td><%= @company.operating_income %>百万円</td>
                    <td><%= @company.disposal_desired_price %>百万円</td>
                    <td><%= @company.company_address %></td>
            </tbody>
        </table>
    </div>
    <h3 class="col-xs-offset-1 col-xs-12">財務情報</h3>
    <div class="col-xs-offset-1 col-xs-5">
        <table class="table table-bordered company-table">
            <tbody>
                <tr>
                    <th class="active", style="width:150px">会計年度</th>
                    <td><%= @company.fiscal_year %>年度</td>
                </tr>
                <tr>
                    <th class="active">売上高</th>
    		        <td><%= @company.total_asset %>百万円</td>
                </tr>
                <tr>
                    <th class="active">営業利益</th>
    		        <td><%= @company.interest_bearing_debt %>百万円</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-5">
        <table class="table table-bordered company-table">
            <tbody>
                <tr>
                    <th class="active">総資産</th>
                    <td><%= @company.total_asset %>百万円</td>
                </tr>
                <tr>
                    <th class="active">有利子負債</th>
                    <td><%= @company.interest_bearing_debt %>百万円</td>
                </tr>
                <tr>
                    <th class="active">純資産</th>
                    <td><%= @company.net_asset %>百万円</td>
                </tr>
            </tbody>
       </table>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
    <h3>案件概要</h3>
        <table class="table table-bordered company-table">
           	<tbody>
                <tr>
                    <th class="active", style="width:150px">従業員数</th>
    		        <td><%= @company.employee_number %>人</td>
                </tr>
                <tr>
                    <th class="active">譲渡対象遺産</th>
    		        <td><%= @company.transfer_target_asset %></td>
                </tr>
                <tr>
                    <th class="active">譲渡理由</th>
    		        <td><%= @company.transfer_reason %></td>
    		    </tr>
    		</tbody>
		</table>
        <h3>ビジネスモデル</h3>
        <table class="table table-bordered company-table">
    		<tbody>
    		    <tr>
                    <th class="active", style="width:150px">事業内容</th>
    		        <td><%= @company.business_overview %></td>
                </tr>
                <tr>
                    <th class="active">顧客</th>
    		        <td><%= @company.customer %></td>
                </tr>
                <tr>
                    <th class="active">製品サービス</th>
    		        <td><%= @company.product_service %></td>
                </tr>
                <tr>
                    <th class="active">事業概要</th>
    		        <td><%= @company.business_overview %></td>
                </tr>
                <tr>
                    <th class="active">事業の強み</th>
    		        <td><%= @company.business_strength %></td>
                </tr>
                <tr>
                    <th class="active">補足情報</th>
    		        <td><%= @company.supplement_information %></td>
                </tr>
            </tbody>
        </table>
    <h3>画像</h3>
    <%= attachment_image_tag @company, :image, :fill, 300, 300, format: 'jpeg' %>
    <h3>コメント</h3>
        <% @company.company_comments.each do |company_comment| %>
        <table>
            <tbody>
                <tr>
                    <td><%= company_comment.created_at.strftime('%Y/%m/%d') %>
                        <%= company_comment.user.surname + company_comment.user.first_name %>
                        <% if company_comment.user == current_user %>
                        <%= link_to "Destroy",company_company_comment_path(company_comment.id), method: :delete, class: "btn-sm btn-danger" %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td><%= company_comment.comment %></td>
               </tr>
            </tbody>
        </table>
        <% end %>
        <% if user_signed_in? %>
            <%= form_for [@company, @company_comment] do |f| %>
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                    </div>
                </div>
                <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
            <% end %>
        <% end %>
    </div>